body{
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

a{
  text-decoration: none;
}

.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation{
  font-size: 16px;
  line-height: 18px;
}

.site-navigation,
.site-navigation-subnavigation,
.user-navigation{
  list-style: none;
}

.site-navigation-item a:focus,
.site-navigation-subnavigation a:focus,
.user-navigation a:focus{
  outline: none;
}

/* стили главного меню */

.site-navigation-item span{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.site-navigation-item>a{
  padding: 7px 15px;
  color: #ffffff;
  font-weight: bold;

}

.site-navigation-item.active>a{
  background-color: #d07058;
  border: none;
  border-radius: 15px;
}

.site-navigation-item>a:hover,
.site-navigation-item>a:focus{

  color: #333333;

  background-color: #f7f6f3;
  border: none;
  border-radius: 15px;
}

.site-navigation-item>a:active{
  box-shadow: inset 0px 2px 1px 0px #6e6f6f;
}

/* стили подменю главного меню */

.site-navigation-subnavigation{
  background-color: #f8f7f4;
}

.site-navigation-subnavigation p{
  font-weight: bold;
  color: #323232;
  border-bottom: 1px solid #d1d0ce;
}

.site-navigation-subnavigation a{
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;

  border: none;
}

.site-navigation-subnavigation .active a{
  background-color: rgb(208, 112, 88);
}

.site-navigation-subnavigation a:hover,
.site-navigation-subnavigation a:focus{
  background-color: rgba(208, 112, 88, 0.2);

}

.site-navigation-subnavigation a:active{
  background-color: rgba(208, 112, 88, 0.5);

}

/* стили пользовательского меню */

.user-navigation li:not(:last-child){
  margin-right: 12px;
}

.user-navigation li:first-child{
  margin-left: 22px;
}

.user-navigation a{
  padding: 8px 35px;

  color: #ffffff;

  font-size: 14px;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.login a{
  padding: 8px 16px;
}

.login a,
.cart a{
  position: relative;
  padding-left: 43px;
}

.login a::before,
.cart a::before{
  content: "";

  position: absolute;
  top: 6px;
  left: 15px;

  width: 21px;
  height: 21px;
}

.login a::before{
  background-image: url("../img/log-in.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-navigation .cart a::before{
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation a:hover,
.user-navigation a:focus{
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.user-navigation .login a:hover::before{
  background-image: url("../img/log-in-black.svg");
}
.user-navigation .cart a:hover::before{
  background-image: url("../img/cart-black.svg");
}

/* конец меню */

.main-user-information{
  font-size: 14px;
  line-height: 14px;
}

.main-user-information a{
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.main-user-information a:hover,
.main-user-information a:focus,
.main-user-information a:active{
  color: #ffbc9e;
}

.button{
  display: inline-block;

  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slide-button{
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}


.button:focus{
  outline: none;
}

.button:hover,
.button:focus{
  background-color: #ed705e;
  background-image: linear-gradient( 90deg, #ed705e 0%, #f58669 100%);
  background-image: -moz-linear-gradient( 90deg, #ed705e 0%, #f58669 100%);
  background-image: -webkit-linear-gradient( 90deg, #ed705e 0%, #f58669 100%);
  background-image: -ms-linear-gradient( 90deg, #ed705e 0%, #f58669 100%);
  box-shadow: 0px 2px 0px 0px rgba(172, 16, 0, 1);
}

.button:active{
  background-color: #e74a35;
  background-image: -moz-linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
  background-image: -webkit-linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
  background-image: -ms-linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.spetial-offer-raspberries{
  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 22px;
  color: white;

  background-color: #b20026;
  background-image: url("../img/raspberries.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.spetial-offer-raspberries .offer-lead{
  font-size: 35px;
  line-height: 41px;
}

.button.want-raspberies{
  align-self: flex-end;
  margin-right: 22px;
  margin-top: 43px;
  padding: 12px 23px;
}

.spetial-offer-chocolate{
  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 22px;

  background-color: #4d2811;
  background-image: url("../img/chocolate.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.spetial-offer-chocolate .offer-lead{
  font-size: 35px;
  line-height: 41px;
}

.button.want-chocolate{
  align-self: flex-end;
  margin-right: 22px;
  margin-top: 43px;
  padding: 12px 23px;
}

.catalog{
  list-style: none;
}

.catalog .price{
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog .weight{
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog .description a{
  color: #ffffff;

  border-bottom: 1px solid #adbdb4;
}

.catalog .description a:hover,
.catalog .description a:focus,
.catalog .description a:active{
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}

.catalog .description a:focus{
  outline: none;
}

.advantages{
  height: 305px;
  margin: 9px 27px;
  border-radius: 15px;

  color: #323232;

  background-color: #f1e8d5;
  background-image: url("../img/vuffles.png");
  background-position: top left;
  background-repeat: repeat;
  background-size: auto;
}

.advantages-lead{
  margin: 0;
  margin-left: 21px;
  padding: 0;
  padding-top: 24px;


  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages-list{
  list-style: none;
}

.useful-information article{
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/news-bg.jpg");
  background-position: 17% 39%;
  background-repeat: no-repeat;
  background-size: auto;
}

.useful-information h3{
  margin: 0;
  margin-top: 23px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 22px;
}

.useful-information a{
  display: block;
  width: 50%;

  margin-left: 20px;
  margin-top: 4px;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  text-decoration: underline;
}

.useful-information a:focus{
  outline: none;
}

.useful-information a:hover,
.useful-information a:focus,
.useful-information a:active{
  color: #e84d37;
  border-bottom-color: #f9cdc4;
}

.subscribe-form{
  color: #323232;

  background-color: #f8f7f4;
  border: 5px solid #fe9e90;
  border-image: url("../img/letter-bg.svg") 5 round round;
}

.subscribe-form p{
  margin: 30px 20px;
}

.subscribe-form form{
  margin-left: 21px;
  padding-top: 5px;
}

.subscribe-form input[type="email"]{
  font: inherit;

  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px 13px;
  width: 341px;
}

.subscribe-form input[type="email"]:focus{
  border: 2px solid #c7c6c5;
}


.button.subscribe-button{
  font-size: 18px;
  line-height: 24px;
  padding: 9px 20px;
  margin-left: 5px;
}


.map{
  position: relative;

  color: #323232;

  background-color: #c7c6c5;
  background-image: url("../img/map.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.map-legend{
  position: absolute;
  top: 62px;
  right: 28px;

  width: 276px;
  padding-top: 29px;
  padding-left: 25px;
  border-radius: 15px;

  font-size: 14px;
  line-height: 20px;
  background-color: #ffffff;
}

.map-legend .map-legend-address{
  margin: 0;
  padding: 0;
}

.map-legend .map-legend-contacts{
  margin: 0;
  margin-top: 18px;
  padding: 0;
}

.map-legend strong{
  font-size: 18px;
  line-height: 24px;
}

.button.callback-form-button{
  margin-top: 30px;
  margin-bottom: 32px;
  padding: 10px 28px;

  font-size: 18px;
  line-height: 24px;
}

.main-footer{
  font-size: 14px;
  line-height: 18px;
}

.footer-social,
.footer-documents{
  list-style: none;
}

.footer-social a,
.footer-documents a,
a.copyright{
  color: #ffffff;
}

.footer-social svg{
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}


a.copyright{
  border-bottom: 1px solid #adbdb4;
}


.footer-social a:focus,
.footer-documents a:focus,
a.copyright:focus{
  outline: none;
}

.footer-social a:hover,
.footer-documents a:hover,
a.copyright:hover,
.footer-social a:focus,
.footer-documents a:focus
a.copyright:focus,
.footer-social a:active,
.footer-documents a:active,
a.copyright.active{
  color: #ffbc9e;

  border-bottom-color: #ffbc9e;
}

.social::before{
  content: "";

  position: absolute;
  top: 10px;

  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-documents.left a.bold-href{
  font-weight: bold;
}

.modal-login input,
.modal-search input,
.modal-callback input,
.modal-callback textarea{
  font: inherit;

  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.modal-login input:focus,
.modal-search input:focus,
.modal-callback input:focus,
.modal-callback textarea:focus{
  border: 2px solid #c7c6c5;
}

a.login-form-forgot,
a.login-form-sin-up{
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

a.login-form-forgot:focus,
a.login-form-sin-up:focus{
  outline: none;
}

a.login-form-forgot:hover,
a.login-form-sin-up:hover,
a.login-form-forgot:focus,
a.login-form-sin-up:focus
a.login-form-forgot:active,
a.login-form-sin-up:active{
  color: #ffbc9e;
}

.modal-callback h2{
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}



/* стили для catalog.html */
ul.breadcrumbs{
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs li{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filters fieldset{
  border: none;
}

.filters legend{
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.filters input{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filters select{
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.filters select:focus{
  color: #323232;
}

.filters .filters-background{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.filters-submit{
  color: #ffffff;

  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.filters-submit:focus{
  color: #323232;

  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.filters-submit:active{
  color: #323232;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.pagination-list{
  list-style: none;
}

.pagination-list a{
  padding: 5px 10px;
  border-radius: 50%;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.pagination-list .active a{
  color: #323232;
  background-color: rgb(255, 255, 255);
}
.pagination-list a:focus{
  outline: none;
}

.pagination-list a:hover,
.pagination-list a:focus{
  background-color: rgba(255, 255, 255, 0.4);
}

.modal-cart{
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #ffffff;
}

.modal-cart .item-price{
  color: #999999;
}

.modal-cart .all-cost{
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;

}

/* сетки */

.main-navigation{
  display: flex;

  width: 1200px;
  height: 70px;
  margin: 0 auto;
}

.main-header-logo{
  margin-right: 6px;
  margin-left: 27px;
  padding-top: 9px;
  width: 180px;
}

.navigation-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.site-navigation{
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 385px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-navigation{
  margin: 0;
  padding: 0;
  padding-top: 4px;
  min-height: 70px;
  width: 310px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-panel a{
  padding: 8px 7px 4px 7px;
}

.search-button:hover path,
.search-button:focus path{
  fill: #000;
}



.site-wrapper{
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: center top;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/index-second_slide.png");
}

.site-wrapper::after {
  background-image: url("../img/index-third-slide.png");
}

.container{
  width: 1200px;
  min-width: 940px;
  margin: 0 auto;
}

.common-information{
  height: 565px;
}

.main-contacts p{
  margin: 0;
  padding: 0;
}

.main-contacts p:first-of-type{
  margin-bottom: 5px;
  padding-left: 10px;
}

.slider{
  width: 1105px;
  margin: 0 auto;
  padding: 0 20px;

  position: relative;

  padding-top: 275px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/index-first_slide.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/index-second_slide.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/index-third-slide.png");
}

.spetial-offer{
  height: 260px;
  padding: 10px 15px 0px;

  display: flex;
  justify-content: space-around;
}

.spetial-offer>div{
  width: 560px;
  height: 230px;

  border-radius: 15px;
}

.spetial-offer p{
  margin: 0;
  padding: 0;
}

.spetial-offer p{
  padding-top: 15px;
  padding-left: 18px;
}

.spetial-offer p.offer-lead{
  padding-top: 18px;
}

.hits{
  padding: 0px 15px;
  height: 365px;
}

.advantages-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages-list li{
  position: relative;
  width: 50%;
}

.advantages-list p{
  margin: 0;
  margin-top: 20px;
  padding-left: 77px;
  padding-right: 10px;
}

.advantages-list li::before{
  content: "";

  position: absolute;
  top: 8px;
  left: 20px;

  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-list li:nth-child(1)::before{
  background-image: url("../img/ice-cream.svg");
}
.advantages-list li:nth-child(2)::before{
  background-image: url("../img/cow.svg");
}
.advantages-list li:nth-child(3)::before{
  background-image: url("../img/eco.svg");
}

.advantages-list li:nth-child(4)::before{
  background-image: url("../img/thermometer.svg");
}


.useful-information{
  padding: 0;
  margin: 40px 27px;
  height: 220px;
  display: flex;
  justify-content: space-between;
}

.useful-information .news,
.useful-information .subscribe-form{
  width: 49%;
  border-radius: 15px;
}

.map{
  height: 425px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.main-footer{
  min-height: 110px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
    align-items: center;
}

.footer-social{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-documents{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.main-user-information{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-user-information.no-breadcrumbs{
  justify-content: flex-end;
}

.main-contacts{
  width: 215px;
  height: 100%;

  padding-top: 5px;

  text-align: center;

}

.breadcrumbs{
  margin: 0;
  padding: 0;
  display: flex;
}

.main-user-information{
  margin: 0;
  padding: 0;
}

.filters-first-row,
.filters-second-row{
  display: flex;
}

.catalog{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding:0;
}

.ice-cream-card{
  position: relative;
  width: 23%;
  padding-top: 12px;
}

.ice-cream-card::before{
  content: "";

  position: absolute;
  top: 10px;

  width: 60px;
  height: 60px;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.ice-cream-card>p{
  margin: 0;
  padding: 0;
}

.ice-cream-card p.price{
  margin-top: -65px;
}

.ice-cream-card>img{
  border-radius: 135px;
}

.ice-cream-card .description{
  margin-top: 15px;
  padding: 7px;

  text-align: center;
}


.pagination-list{
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  height: 156px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: rgba(232, 232, 19, 0.3);
  border-bottom: 1px solid #adbdb4;
}
